<div class="container">
	<% if current_user %>
		<div class="thumbnail" style="height:200px; width:700px; #FFFFFF border:1px solid #000; margin:0 auto;">
			<%= render 'posts/form' %>
		</div>
	<% end %>
	
	<%= render 'posts'%>
	
</div>
